<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="author" content="">
		<script src="../js/vue.js"></script>
		<link href="../css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	</head>
	<body>
		<div class="app" id='app'>
			<div class="widget">
				<div class="menuBar" data-pg-collapsed>
					<i class="fa fa-align-justify fa-lg"></i>
				</div>
				<div class="option" data-pg-collapsed>
					<button id="widgetSetting" @click='setting'>Setting</button>
					<button id="widgetDisplay" @click='hide'>hide</button>
					<button id="widgetQuit" @click='quit'>quit</button>
				</div>
				<div class="cardView">
					<!-- <ticker-view v-for='ticker in tickers' :symbol='ticker.symbol.slice(0,ticker.symbol.length - 3)' :price='ticker.last' :volume='btcVol(ticker.symbol, ticker.volume, ticker.last)'
				    :change='((ticker.last - ticker.open)/ticker.open * 100).toFixed(2) '></ticker-view> -->
					<div class="card red green" v-for='n in 15' data-pg-collapsed>
						<div class="ticker">
							<div class="currency">
								<p>{{ symbol }}</p>
							</div>
							<div class="changes">
								<p>{{change}}%</p>
							</div>
						</div>
						<div class="value">
							<div class="price">
								<p>{{price}}</p>
							</div>
							<div class="symbol">
								<p>USD</p>
							</div>
						</div>
						<div class="volume" data-pg-collapsed>
							<p>VOL</p>
							<div class="totalVol" data-pg-collapsed>
								<p>{{volume}}</p>
								<p>btc</p>
							</div>
							<div class="ticker"> </div>
						</div>
						<div class="holds">
							<div class="myHold">
								<p>5&nbsp;</p>
								<p>BTC</p>
							</div>
							<div class="myValue">
								<p>3467&nbsp;</p>
								<p>USD</p>
							</div>
						</div>
					</div>
				</div>
				<div class="addSym" data-pg-collapsed>
					<i class="fa fa-lg fa-plus"></i>
				</div>
			</div>
		</div>
	</body>
	<script src="./widget.js"></script>
</html>